* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.background {
  background: linear-gradient(to bottom right, rgba(30, 203, 255, 1), rgba(172, 115, 255, 1));
  height: 100vh;
}

.p-5 {
  padding: 5%;
}

.mr-40 {
  margin-right: 40px;
}

.container {
  margin: 0 10%;
}

.question-container::after {
  content: '';
  height: 1px;
  background-color: #fff;
}

.question, .question-no {
  color: #fff;
}

.question {
  font-size: 3.4em;
}

.question-no {
  font-size: 2em;
  font-weight: 100;
}

.btn {
  border: none;
  background-color: #fff;
  border-radius: 18px;
  width: 38%;
  font-size: 2.5em;
  padding: 2%;
  margin-bottom: 4%;
  color: #5398de;
  box-shadow: 2px 8px 22px #555;
}

footer.foot {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  height: 65px;
  padding: 1.2% 5%;
  vertical-align: middle;
  background: linear-gradient(to right, #544e96, #6d3c95)
}

footer.foot h2,
footer.foot p {
  color: #fff;
}

footer.foot p {
  padding-top: 0.4%
}

@media only screen and (min-width: 900px) {
  .btn {
    border: none;
    background-color: #fff;
    border-radius: 18px;
    width: 38%;
    font-size: 2.5em;
    padding: 2%;
    margin-bottom: 4%;
    color: #5398de;
    box-shadow: 2px 8px 22px #555;
  }

}