* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
}

html,
body,
.background {
  background: linear-gradient(to bottom right, rgba(30, 203, 255, 1), rgba(172, 115, 255, 1));
}

.p-5 {
  padding: 5%;
}

.mr-40 {
  margin-right: 40px;
}

.container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 65px;
}

.align-content {
  margin: 3% 20% 0 10%;
}

.options {
  margin: 2% 0 5%;
}

.question-container {
  padding: 5% 0 2%;
  margin-bottom: 4%;
}

.question-container::after {
  content: '';
  height: 30px;
  background-color: #fff;
}

.question,
.question-no {
  color: #fff;
}

.question {
  font-size: 1.6em;
}

.question-no {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 15px;
}

.notify {
  padding: 12px 0;
  visibility: hidden;
}

.notify p {
  font-size: 1.3em;
  color: #fff;
}

.btn {
  border: none;
  border-radius: 18px;
}

.option-btn {
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 6%;
}

.option-btn,
.btn-next {
  color: #5398de;
  background-color: #fff;
  box-shadow: 2px 8px 22px #555;
}

.btn-next {
  padding: 6px 0;
  font-size: 1.2em;
  margin-bottom: 5%;
  width: 50%;
  font-style: italic;
}

.correct,
.correct:hover {
  background-color: #006060 !important;
  color: #fff;
}

.wrong,
.wrong:hover {
  background-color: #aa0000 !important;
  color: #fff;
}

#final-score {
  display: none;
  margin-top: 54%;
}

footer.foot {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  padding: 5.2% 5%;
  vertical-align: middle;
  background: linear-gradient(to right, #544e96, #6d3c95)
}

footer.foot h2,
footer.foot p {
  color: #fff;
  font-size: 1em;
}

@media only screen and (min-width: 500px) {

  .align-content {
    margin: 0 20% 0 10%;
  }

  .question {
    font-size: 3.4em;
  }

  .question-no {
    font-size: 2em;
  }

  .question-container {
    margin-bottom: 0%;
  }

  .notify p {
    font-size: 2.2em;
  }

  .btn-next {
    padding: 10px 0;
    font-size: 1.8em;
  }

  .option-btn,
  .btn-next {
    width: 38%;
    cursor: pointer;
  }

  .option-btn {
    padding: 2%;
    margin-bottom: 4%;
  }

  .option-btn {
    font-size: 2.5em;
  }

  .option-btn-hover:focus,
  .option-btn-hover:hover,
  .btn-next-hover:hover,
  .option-btn-hover:active {
    background: linear-gradient(to bottom left, rgba(30, 203, 255, 1), rgba(172, 115, 255, 1));
    color: #fff;
  }

  .btn-disabled {
    cursor: not-allowed;
  }

  #final-score {
    margin-top: 28%;
  }

  footer.foot h2,
  footer.foot p {
    font-size: 1.5em;
  }

  footer.foot {
    padding: 1.2% 5%;
  }
}

